PORT =

RAZORPAY_KEY_ID =
RAZORPAY_KEY_SECRET = 

FRONTEND_ORIGIN=

DATABASE_URL =

EMAIL_USER =
EMAIL_PASS = 

JWT_SECRET =


ADMIN_USERNAME=
ADMIN_PASSWORD=

// NODEMAILER CONFIG
TYPE=
PROJECTID=
PRIVATE_KEY_ID=
PRIVATE_KEY=
CLIENT_EMAIL=
TOKEN_URI=
AUTH_PROVIDER_X509_CERT_URL=
CLIENT_X509_CERT_URL=
UNIVERSE_DOMAIN=
CLIENT_ID=